$primary: hsl(236, 19%, 18%);
$primaryHover: #212230;
$primaryHighlight: #f6c427;
$whiteShadeLight: rgba(255, 255, 255, 0.72);
$white: rgba(255, 255, 255, 1);
$orange: #f59720;
$heading: #3f3f3f;
$subHeading: rgba(2, 2, 2, 0.46);
