$primary: hsl(236, 19%, 18%);
$primaryHover: #212230;
$primaryHighlight: #f6c427;
$whiteShadeLight: rgba(255, 255, 255, 0.72);
$white: rgba(255, 255, 255, 1);
$orange: #f59720;
$heading: #3f3f3f;
$subHeading: rgba(2, 2, 2, 0.46);

@import "~antd/dist/antd.css";
@import "slickSlider";

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.dark-background {
  background: $primaryHover;
}

header {
  background: $primary;
  &.ant-layout-header {
    height: 100px;
    background: $primary !important;
  }
  .ant-row {
    .ant-col {
      .header-container {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100px;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-direction: row;
          height: 100%;
          flex-shrink: 1;
          &.desktop-nav {
            li {
              display: flex;
              align-items: center;
              img{
                width:100%;
              }

              a {
                color: $whiteShadeLight;
                text-decoration: none;
                text-transform: uppercase;
                margin: 0 30px;
                height: 100%;
                display: flex;
                align-items: center;
                -webkit-transition: all 1s ease-out;
                -moz-transition: all 1s ease-out;
                -o-transition: all 1s ease-out;
                transition: all 1s ease-out;
              }
              &.ab{
                width:250px;
                margin-right:100px;
                filter:brightness(350%);
              }
              &.logo {
                height: 150px;
                width: 150px;
                position: relative;
                z-index: 1;
              }
              &:hover,
              &.active,
              {
                background: $primaryHover;
                a {
                  color: $white;
                  position: relative;
                  &:after {
                    position: absolute;
                    width: 100%;
                    top: 63px;
                    left: 0;
                    content: "";
                    height: 2px;
                    background: $primaryHighlight;
                    -webkit-transition: all 1s ease-out;
                    -moz-transition: all 1s ease-out;
                    -o-transition: all 1s ease-out;
                    transition: all 1s ease-out;
                  }
                }
              }
            }
          }
          &.mobile-nav {
            display: none;
          }
        }
        @media (max-width: 767px) {
          ul {
            position: relative;
            
            
            &.desktop-nav {
              display: none;
            }
            &.mobile-nav {
              display: block;
              
              li {
                display: flex;
                align-items: start;
                img{
                  width:33%;
                }
                &.logo {
                  position:relative;
                  z-index: 9;
                
                }
              }
            }
          }
        }
      }
    }
  }
}
ul.mobile-drop-menu {
  display: none;
}
@media (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    z-index: 99;
    .ant-row {
      .ant-col {
        .header-container {
          ul {
            &.mobile-nav {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  header {
    z-index: unset;
  }
  ul.mobile-drop-menu {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    .ant-menu-submenu {
      position: relative;
      .ant-menu-submenu-title {
        position: fixed;
        // top: 30px;
        // left: 30px;
        i {
          display: none;
        }
        .menu {
          position: fixed;
          right: 30px;
          top: 36px;
          width: 26px;
          height: 26px;

          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            color: $white;
            height: 2px;
            width: 100%;
            background: $white;
            display: block;
            margin: 3px 0;
          }
        }
      }
      ul {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 16px;
        &.ant-menu {
          li {
            height: 48px;

            padding: 0px !important;
            border-bottom: 1px solid #eee;
            a {
              color: $primary;
              text-decoration: none;
              text-transform: uppercase;
              margin: 0;
              -webkit-transition: all 1s ease-out;
              -moz-transition: all 1s ease-out;
              -o-transition: all 1s ease-out;
              transition: all 1s ease-out;
              display: block;
              padding-left: 20px;
              height: 100%;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.slider-container {
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  .slick-slider {
    height: calc(100vh - 100px);
    min-height: 600px;
    .sc-content {
      position: absolute;
      width: 500px;
      height: 270px;
      padding: 40px;
      background: $white;
      top: 50%;
      margin-left: 100px;
      margin-top: -200px;
      h1 {
        font-size: 40px;
        text-transform: uppercase;
      }
      p {
        position: absolute;
        bottom: -30px;
        background: $primaryHover;
        font-size: 20px;
        padding: 20px;
        left: 40px;
        color: $white;
        margin: 0;
      }
    }
    .slick-prev,
    .slick-next {
      z-index: 9;
      padding: 20px;
      background: #00000094;
      &:before {
        position: relative;
        left: -12px;
        top: -10px;
      }
    }
    .slick-prev {
      left: 0px;
    }
    .slick-next {
      right: 0px;
    }
    .slick-dots {
      bottom: 25px;
      li {
        &.slick-active {
          button {
            background: $white;
          }
        }
        button {
          background: transparent;
          border: 2px solid $white;
          border-radius: 15px;
        }
      }
    }
  }
  .sc-slides {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .slider-container {
    margin-top: 0;
    .slick-slider {
      height: 400px;
      min-height: 400px;
      .sc-content {
        display: none;
      }
    }
    .sc-slides {
      height: 400px;

      img {
        width: auto;
        height: 400px;
      }
    }
  }
}

/**********************************
FOOTER
***********************************/
.ant-layout-footer {
  padding: 50px 0 !important;
}
.footer-section p i.anticon {
  font-size: 36px;
  margin-right: 10px;
}
.footer-section p i.anticon-facebook {
  color: #3b5998;
}
.footer-section p i.anticon-linkedin {
  color: #0e76a8;
}
.footer-section p i.anticon-twitter-square {
  color: #1da1f2;
}

.portfolio__labels {
  padding: 50px 0 30px;
}
.portfolio__labels ul {
  text-align: center;
}
.portfolio__labels ul li {
  padding: 0px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;

  border-bottom: 2px solid rgba(0, 0, 0, 0);
  margin: 0px 15px 5px 15px;
}
.portfolio__labels ul li a {
  color: $primary;
}
.portfolio__labels ul li a.active {
  color: #f59720;
  border-bottom: 2px solid #f59720;
}

.portfolio__container {
  padding-bottom: 80px;
}
.portfolio-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.portfolio-row .portfolio-item {
  width: 33.3%;
  display: flex;
  overflow: hidden;
  max-height: 250px;
  border: 5px solid #f0f2f5;
  position: relative;
  cursor: pointer;
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.portfolio-row .portfolio-item:hover .portfolio-content {
  display: block;
}
.portfolio-row .portfolio-item .portfolio-content {
  display: none;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.portfolio-row .portfolio-item .portfolio-content p {
  position: relative;
  left: 20px;
  top: 120px;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}
.portfolio-row .portfolio-item .portfolio-content p.view-btn {
  background: #f6c427;
  color: #000;
  padding: 5px 10px;
  top: 125px;
  font-size: 14px;
  display: inline;
  font-weight: normal;
}
.portfolio-row .portfolio-item .portfolio-content:hover p {
  left: 30px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.portfolio-row .portfolio-item .portfolio-image {
  width: 100%;
  display: flex;
  //justify-content: center;
 // align-items: center;
  z-index: 1;
}
.portfolio-row .portfolio-item .portfolio-image img {
 object-fit: cover;
}
@media (max-width: 1200px) and (min-width: 993px) {
}
@media (max-width: 992px) and (min-width: 768px) {
  .portfolio-row .portfolio-item {
    width: 50%;
    max-height: 230px;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .portfolio-row .portfolio-item {
    width: 50%;
    max-height: 230px;
  }
}
@media (max-width: 479px) and (min-width: 320px) {
  .portfolio-row .portfolio-item {
    width: 100%;
    max-height: 230px;
  }
}

.ant-modal-content {
  .ant-modal-close {
    background: #fff !important;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    top: -15px;
    right: -15px;
    .ant-modal-close-x {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }
  .ant-modal-body {
    padding: 0 !important;
    .slick-slider {
      .portfolio-image {
        img {
          width: 100%;
        }
      }
      button {
        background: #fff !important;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        z-index: 22;
        &.slick-prev {
          left: -15px;
          &:before {
            color: #212230;
          }
        }
        &.slick-next {
          right: -15px;

          &:before {
            color: #212230;
          }
        }
      }
      .slick-dots {
        display: none !important;
      }
    }
  }
}
.service-box .div {
  width:200px;
  height:200px;
  background-color:yellow;
  border-radius:50%;
  align-self:center;
  padding:15%;
}